<a href="" class="mwz-list-group-item mwz-list-group-item-action">
  <div class="mwz-d-flex mwz-align-items-center">
    <div class="mwz-search-result-icon mwz-place-icon">
      <img src="<%= icon %>" alt="<%= title %>">
    </div>
    <div class="mwz-search-result-infos mwz-place-infos">
      <div class="mwz-search-result-title mwz-place-title"><%= title %></div>
      <div class="mwz-search-result-subtitle mwz-place-subtitle"><%= subtitle %></div>
      <div class="mwz-search-result-floor mwz-place-floor"><%= floor %></div>
    </div>
  </div>
</a>
