#mwz-footer-venue {
  height: 50px;
  margin-bottom: 28px;
  margin-left: 10px;
  max-width: 400px;
  pointer-events: auto;

  .mwz-separator {
    width: 10px;
  }

  .mwz-dropdown {
    &.mwz-language-dropdown {
      min-width: 135px;
    }

    &.mwz-universe-dropdown {
      min-width: 150px;
    }

    &.mwz-show {
      > .mwz-dropdown-toggle {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: 0 3px 4px rgba(0, 0, 0, .2);
      }
    }

    > .mwz-dropdown-toggle {
      background-color: $white;
      border: none;
      border-radius: 25px;
      box-shadow: $controls-box-shadow;
      color: #495057;
      padding: 6px 10px 6px 6px;
      text-align: left;
      width: 100%;

      .mwz-dropdown-toggle-text {
        position: relative;
        top: 2px;
      }

      > .mwz-icon {
        height: 30px;
        width: 30px;
      }

      &::after {
        display: none;
      }
    }

    > .mwz-dropdown-menu {
      border: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: $controls-box-shadow;
      cursor: default;
      margin-bottom: 0;
      max-height: 400px;
      min-width: 135px;
      overflow: auto;
      top: 1px !important;
      z-index: -1;

      .mwz-dropdown-item {
        padding: .5rem 1.6rem;
        white-space: normal;

        &:hover {
          background-color: $light-grey;
        }
      }
      .mwz-item-selected {
        background-color: #eee;
      }
    }
  }
}

&.mwz-small {
  #mwz-footer-venue {
    margin-bottom: 28px;
    max-width: 75%;

    .mwz-dropdown {
      &.mwz-language-dropdown {
        min-width: 0;
      }

      &.mwz-universe-dropdown {
        min-width: 0;
      }

      > .mwz-dropdown-toggle {
        padding: 6px;

        .mwz-dropdown-toggle-text {
          display: none;
        }
      }

      > .mwz-dropdown-menu {
        border-bottom-right-radius: 20px;
        max-height: 300px !important;
      }
    }
  }
}
