#mwz-footerVenue {
    height: 50px;
    width: 400px;
    margin-bottom: 28px;
    margin-left: 10px;
    pointer-events: auto;
   
    .dropdown-toggle::after {
        display:none;
    }
    .dropdown-item {
        padding: 0.5rem 1.5rem
    }
    .dropdown-item:hover {
        background-color:#efefef;
    }
    .btn-secondary {
        background: none;
        color:#495057;
        border: none;
        text-align: left;
    }
    .btn-secondary:focus {
        box-shadow:none;
    }
    .btn {
        padding: 6px;
    }
    .dropdown-menu {
        max-height: 400px;
        overflow: auto;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border: none;
        cursor: default;
        min-width: 0rem;
        
        a{
            white-space: normal;
        }
    }
    .mwz-icon {
        width: 30px;
    }
    .mwz-wrapper-select {
        background: white;
        border-radius: 50px;
        margin-right: 70px;

        box-shadow: $controls-box-shadow;
    }
    option:disabled {
        display:none;
    }
    .Select-input option[value=four] {
        display: none;
    }
    select {
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    .mwz-wrapper-select:nth-child(2) {
        margin-left: -55px;
        z-index:1;
    }
    #universes-selector, #language-selector {
        display: inline-block;
    }
    #mwz-universe-button, .mwz-universe {
        min-width: 170px;
    }
    #mwz-language-button, .mwz-language {
        width: 70px ;
    }
}

&.mwz-small {
    .dropdown-menu {
        max-height: 300px !important;
    }
    #mwz-footerVenue {
        margin-left: 2px;
        margin-bottom: 28px;
        width: 75%;
        padding-left: 20px;
    }
    #mwz-language-button {
        color: transparent;
        width: 42px !important;
    }
    #mwz-universe-button {
        color: transparent;
        width: 42px !important;
        min-width: 0px !important;
    }
    .mwz-text-icon {
        display: none;
    }
    #mwz-searchBar {
        border-radius: 8px;
        margin-left: 2.5%;
        margin-top: 15px;
        width: 95%;
    }
}
