#mwz-footer-venue {
  height: 50px;
  max-width: 400px;
  margin-bottom: 28px;
  margin-left: 10px;
  pointer-events: auto;
  
  .mwz-separator {
    width: 5px;
  }
  .dropdown {
    &.mwz-universe-dropdown {
      min-width: 150px;
    }
    &.show {
      > .dropdown-toggle {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    > .dropdown-toggle {
      background-color: #FFFFFF;
      color:#495057;
      border: none;
      text-align: left;

      width: 100%;
      
      padding: 6px 10px 6px 6px;
      
      border-radius: 25px;
      
      box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);

      .dropdown-toggle-text {
        position: relative;
        top: 2px;
      }
      
      > .mwz-icon {
        width: 30px;
      }
      &::after {
        display:none;
      }
    }
    
    > .dropdown-menu {
      max-height: 400px;
      min-width: 0rem;
      
      overflow: auto;
      
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border: none;
      
      cursor: default;
      
      margin-bottom: 0;
      
      .dropdown-item {
        padding: 0.5rem 1.6rem;
        white-space: normal;
        
        &:hover {
          background-color:#efefef;
        }
      }
    }
  }
}

&.mwz-small {
  #mwz-footer-venue {
    margin-left: 2px;
    margin-bottom: 28px;
    max-width: 75%;
    padding-left: 20px;
    
    .dropdown {
      > .dropdown-toggle {
        padding: 6px;
        
        .dropdown-toggle-text {
          display: none;
        }
      }
      > .dropdown-menu {
        max-height: 300px !important;
        
        border-bottom-right-radius: 20px;
      }
    }
  }
}
