#mwz-footer-selection {
  width: 400px;
  border-radius: 8px;
  margin-bottom: 28px;
  margin-left: 10px;
  background-color:  white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  
  pointer-events: auto;
  
  .mwz-directions-button{
    background: #C51586;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 12.5px;
    font-size: 14px;
    width: 125px;

    img{
      width:20px;
      margin-right: 10px;
    }
  }

  .mwz-informations-button{
    border-radius: 20px;
    color: grey;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 12.5px;
    font-size: 14px;
    width: 140px;
    border: solid 1px;
    padding-bottom: 7px;
    padding-top: 6px;
  }

  .mwz-icon-information{
    background: #C51586;
    padding: 2px 9px 2px 9px;
    color: white;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
  }
  
  .mwz-directions-button:hover, .mwz-informations-button:hover, .mwz-informations-button:focus{
    text-decoration: none;
  }
  .mwz-subtitle{
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
  .mwz-selection-header {
    // width: 100%;

    .mwz-icon {
      padding: 12.5px;
    }
    
    .mwz-data {
      overflow: hidden;
      
      .mwz-title {
        font-size: 1.2em;
      }
    }
    
    .mwz-directions {
      button {
        padding: 12.5px;
        border: none;
        border-radius: unset;
        line-height: inherit;
      }
    }
    .mwz-icon, .mwz-directions {
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
  
  .mwz-open-details, .mwz-close-details {
    padding: 10px;
    
    img {
      width: 20px;
      height: 20px;
    }
    
  }
  
  .mwz-details {
    max-height: 120px;
    overflow: auto;
    padding-left: 12.5px;
    padding-right: 12.5px;
    
    h4 {
      font-size: 1.2rem;
    }
  }
  
  &.mwz-opened-details {
    height: 100%;
  }
}

&.mwz-small {
  #mwz-footer-selection {
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
    width: 100%;
  }
}
