<!-- <div id="mwz-footer-selection"> added in selection.ts -->
<div class="mwz-selection-header mwz-d-flex mwz-align-items-center">
  <div class="mwz-icon">
    <img src="<%= icon %>" alt="Menu" />
  </div>
  <div class="mwz-data mwz-flex-grow-1">
    <div class="mwz-title"><%= title %></div>
  </div>
</div>
<div class="mwz-subtitle mwz-d-flex mwz-align-items-center"><%= subtitle %></div>
<% if (details) { %>
<div class="clearfix">
  <button class="mwz-btn mwz-btn-link mwz-open-details mwz-d-none mwz-float-right">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABEElEQVR4Ae3PAQYCURSF4QtIIiIAAmDAvLu9MAUBAlpLEAgCIWg5UzyZeAKnedfwfws4/mMAAAAAAAAAAAD/lbrUTTrfe+9TN+l8/UJ4vn4hPF++EJ8vX4jPly/E54sX4vOFC/H5woX4fOFCfH46p7NwITz/spltZukiXIjOtzfhQmS+X3N+vuBX4UJMvs/ti8+FC7H5woX4/OLCrcIFOf9W5n80iwoX1PxmYSX5Qnx+/AUhv7xwH+2CkH//mV/w5VgXhHxf2tsELvhezB8uPMqldmfjS0c1P2tWxYWDZVUvPHK+fiEdrR4/ffKblQnyBTFfuDDkKxee3vvJ6mt3OV/VrtutAQAAAAAAAAAAYDJeeA5LziNlLMgAAAAASUVORK5CYII="
      alt="Open" />
  </button>
  <button class="mwz-btn mwz-btn-link mwz-close-details mwz-d-none mwz-float-right">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC"
      alt="Close" />
  </button>
  <div class="mwz-details"><%= details %></div>
</div>
<% } %>
<button id="mwz-footer-directions-button" type="button" class="mwz-btn mwz-btn-link mwz-directions-button">
  <img
    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDMwIDMwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMCAzMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIHN0eWxlPSJmaWxsOndoaXRlOyIgZD0iTTI4LjYsMTRMMTYsMS40Yy0wLjYtMC42LTEuNC0wLjYtMiwwTDEuNCwxNGMtMC42LDAuNi0wLjYsMS40LDAsMkwxNCwyOC42YzAuNiwwLjYsMS40LDAuNiwyLDBMMjguNiwxNkMyOS4xLDE1LjQsMjkuMSwxNC42LDI4LjYsMTR6IE0yMiwxMy45bC0zLjksMy43Yy0wLjIsMC4yLTAuNSwwLTAuNS0wLjJ2LTIuMmMwLTAuMi0wLjEtMC4zLTAuMy0wLjNoLTQuNWMtMC4yLDAtMC4zLDAuMS0wLjMsMC4zdjMuMmMwLDAuMi0wLjEsMC4zLTAuMywwLjNoLTEuOWMtMC4yLDAtMC4zLTAuMS0wLjMtMC4zdi00LjVjMC0wLjksMC43LTEuNiwxLjYtMS42aDUuOGMwLjIsMCwwLjMtMC4xLDAuMy0wLjN2LTJjMC0wLjMsMC4zLTAuNCwwLjUtMC4ybDMuOCwzLjhDMjIuMSwxMy42LDIyLjEsMTMuOCwyMiwxMy45eiIvPjwvc3ZnPg=="
    alt="Directions"> Directions
</button>
<% if (informationButton) { %><button id="mwz-footer-informations-button" type="button"
  class="mwz-btn mwz-btn-link mwz-informations-button"><%= informationButton %></button><% } %>
<!-- </div> -->
