#mwz-footer-selection {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $controls-box-shadow;
  margin-bottom: 28px;
  margin-left: 10px;
  pointer-events: auto;
  width: 400px;

  .mwz-selection-header {
    // width: 100%;

    .mwz-icon {
      padding: 12.5px;

      img {
        height: 25px;
        width: 25px;
      }
    }

    .mwz-data {
      overflow: hidden;

      .mwz-title {
        font-size: 1.2em;
      }
    }
  }

  .mwz-subtitle {
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  .mwz-open-details,
  .mwz-close-details {
    padding: 10px;

    img {
      height: 20px;
      width: 20px;
    }
  }

  .mwz-details {
    max-height: 120px;
    overflow: auto;
    padding-left: 12.5px;
    padding-right: 12.5px;

    h4 {
      font-size: 1.2rem;
    }
  }

  &.mwz-opened-details {
    height: 100%;
  }


  .mwz-directions-button {
    background: $mapwize-color;
    border-radius: 20px;
    color: $white;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 12.5px;
    margin-top: 5px;
    width: 125px;

    &:hover {
      text-decoration: none;
    }

    img {
      margin-right: 10px;
      width: 20px;
    }
  }

  .mwz-informations-button {
    border: solid 1px;
    border-radius: 20px;
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 12.5px;
    margin-top: 5px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 140px;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .mwz-icon-information {
      background: $mapwize-color;
      border-radius: 50%;
      color: $white;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      margin-right: 10px;
      padding: 2px 9px;
    }
  }
}

&.mwz-small {
  #mwz-footer-selection {
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }
}
