#mwz-search-bar {
  border-radius: 8px;
  
  height: 50px;
  width: 400px;
  
  margin-top: 10px;
  margin-left: 10px;
  
  background-color:  white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  
  pointer-events: auto;
  
  transition: margin-top 0.15s ease-in-out, margin-left 0.15s ease-in-out, width 0.15s ease-in-out;
  overflow: auto;
  
  .mwz-menu, .mwz-directions {
    img {
      width: 25px;
    }
    
    button {
      padding: 12.5px;
      border: none;
      border-radius: unset;
      line-height: inherit;
    }
  }
  .mwz-directions-tooltip, .mwz-menu-tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    padding: 0px 5px 0px 5px;
    z-index: 1;
  }

  .mwz-directions:hover .mwz-directions-tooltip, .mwz-menu:hover .mwz-menu-tooltip {
    visibility: visible;
  }
  .mwz-directions-tooltip {
    margin: 50px 0px 0px -60px;
  }
  .mwz-menu-tooltip {
    margin: 50px 0px 0px -45px;
  }

  .mwz-search {
    input {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: none;
      border-radius: unset;
      
      box-shadow: none;
      
      &:focus {
        box-shadow: none;
        border-color: #93979b;
      }
      
      &::placeholder {
        color: #BABABA;
      }
    }
  }
  
  .mwz-entering {
    color: rgb(73, 80, 87);
    font-size: 16px;
    
    padding-left: 12px;
  }
}

&.mwz-small {
  #mwz-search-bar {
    border-radius: 8px;
    margin-left: 2.5%;
    margin-top: 15px;
    width: 95%;

    .btn-link:hover {
      background-color: transparent !important;
    }
    .mwz-directions:hover .mwz-directions-tooltip, .mwz-menu:hover .mwz-menu-tooltip {
      visibility: hidden;
    }
    .form-control{
      padding: 0 !important;
    }
    .px-2{
     padding-right: 0 !important;
     padding-left: 0 !important;
    }
  }
}
