#mwz-search-bar {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $controls-box-shadow;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  pointer-events: auto;
  transition: margin-top .15s ease-in-out, margin-left .15s ease-in-out, width .15s ease-in-out;
  width: 400px;

  .mwz-menu,
  .mwz-directions {
    img {
      height: 25px;
      width: 25px;
    }

    button {
      border: none;
      border-radius: unset;
      line-height: inherit;
      padding: 12.5px;
    }
  }

  .mwz-search {
    padding-left: .5rem;
    padding-right: .5rem;

    input {
      border-bottom: none;
      border-left: none;
      border-radius: unset;
      border-right: none;
      border-top: none;
      box-shadow: none;

      &:focus {
        border-color: #93979b;
        box-shadow: none;
      }

      &::placeholder {
        color: #BABABA;
      }
    }
  }

  .mwz-entering {
    color: rgb(73, 80, 87);
    font-size: 16px;

    padding-left: 12px;
  }

  #mwz-back-button {
    img {
      width: 18px;
    }
  }

  #mwz-back-button-container {
    display: none;
    width: 50px;
  }
}

&.mwz-small {
  #mwz-search-bar {
    border-radius: 8px;
    margin-left: 2.5%;
    margin-top: 15px;
    width: 95%;

    .mwz-btn-link:hover {
      background-color: transparent !important;
    }

    .mwz-directions:hover .mwz-directions-tooltip,
    .mwz-menu:hover .mwz-menu-tooltip {
      visibility: hidden;
    }

    .mwz-search {
      padding: 0;

      input {
        padding: 0;
      }
    }
  }
}
