#mwz-search-direction {
  background-color: $white;
  border-radius: 8px;
  box-shadow: $controls-box-shadow;
  margin-left: 10px;
  margin-top: 10px;
  pointer-events: auto;
  width: 400px;

  .mwz-form-control {
    padding: .375rem 0;
  }

  .mwz-mode-icons {
    display: flex;
    overflow-x: hidden;
  }

  .mwz-close-button {
    width: 18px !important;
  }

  .mwz-search-line {
    height: 50px;
    margin-bottom: 0;

    .mwz-venue-name {
      color: rgb(73, 80, 87);
      font-size: 16px;
      padding-left: 12px;
    }

    .mwz-icon {
      padding: 10px;

      img {
        width: 15px;
      }
    }

    .mwz-padding {
      padding: 21px;
    }

    .mwz-button-icon {
      button {
        border: none;

        img {
          width: 20px;
        }
      }
    }

    .mwz-empty {
      width: 50px;
    }

    .mwz-back {
      img {
        width: 20px;
      }
    }

    .mwz-search {
      input {
        border-left: none;
        border-radius: unset;
        border-right: none;
        border-top: none;
        box-shadow: none;

        &:focus {
          border-color: $mapwize-color;
          box-shadow: none;
        }
      }
    }
  }

  #mwz-reverse-button {
    margin-top: -35px;
  }

  .mwz-modes-line {
    height: 54px;
    margin: 0 auto;
    max-width: 256px;

    .mwz-mode-button-selected {
      background-color: rgba(197, 21, 134, .1);
    }

    .mwz-mode-button {
      border-radius: 30px !important;
      padding: 2px 22px;
    }

    .mwz-button-icon {
      button {
        border: none;

        img {
          width: 20px;
        }
      }
    }
  }

  #mwz-alert-no-direction {
    border-radius: 0;
    display: none;
    margin-bottom: 0;
  }
}

&.mwz-small {
  #mwz-search-direction {
    border-radius: 0 0 8px 8px;
    margin-left: 0;
    margin-top: 0;
    width: 100%;

    .mwz-icon {
      padding: 0 10px 0 0;
    }

    .mwz-modes-line {
      max-width: 192px !important;
    }
  }
}
