.mwz-search-result-item {
  display: flex;
  min-height: 36px;
  background-color: transparent;
  padding: 4px;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: lightgray;
  }
}

.mwz-search-result-no-result-item {
  display: flex;
  height: 36px;
  background-color: transparent;
  padding: 4px;
  margin: 0 24px 0 16px;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.mwz-search-result-item-icon {
  width: 20px;
  height: 20px;
  margin: 0 24px 0 16px;
  align-self: center;
  justify-self: center;
}

.mwz-search-result-item-text-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-right: 16px;
}

.mwz-search-result-item-title {
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
}

.mwz-search-result-item-subtitle {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: gray;
  line-height: 1.1;
}

.mwz-search-result-item-floor {
  font-size: 14px;
  color: gray;
}
