#mwz-searchDirection {
    
    border-radius: 8px;
    
    width: 400px;
    
    margin-top: 10px;
    margin-left: 10px;
    
    background-color:  white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    
    pointer-events: auto;
    
    .mwz-close-button {
        width: 18px !important;
    }
    .mwz-searchLine {
        height: 50px;
        margin-bottom: 0;
        
        .mwz-venue-name {
            color: rgb(73, 80, 87);
            font-size: 16px;
            
            padding-left: 12px;
        }
        
        .mwz-icon {
            padding: 15px;
            
            img {
                width: 15px;
            }
        }
        .mwz-padding {
            padding: 21px;
        }
        .mwz-button-icon {
            button {
                border: none;
                img {
                    width: 20px;
                }
            }
        }
        
        .mwz-empty {
            width: 50px;
        }
        
        .mwz-back {
            img {
                width: 20px;
            }
        }
        
        .mwz-search {
            input {
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: unset;
                
                box-shadow: none;
                
                &:focus {
                    box-shadow: none;
                    border-color: #93979b;
                }
            }
        }
    }
    
    #mwz-reverse-button {
        margin-top: -35px;
    }
    
    .mwz-accessibleLine {
        height: 44px;
        margin: 0;
        overflow-x: scroll;
        max-width: 200px;
        margin: 0 auto;
        
        .mwz-accessible-button-selected {
            background-color: rgba(197,21,134,0.3);
        }
        .mwz-accessible-button {
            padding: 2px 22px 2px 22px;
            border-radius: 30px !important;
        }
        .mwz-button-icon {
            button {
                border: none;
                img {
                    width: 20px;
                }
            }
        }
        .mwz-accessible-separator {
            width: 30px;
        }
    }
    
    #mwz-alert-noDirection {
        display: none;
        border-radius: 0;
        
        margin-bottom: 0;
    }
}
&.mwz-small {
    #mwz-searchDirection {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
    }
    &.mwz-directions {
        #searchResults {
            margin-left: 0;
            width: 100%;
        }
    }
    
}
