.mwz-bottom-view {
  width: 400px;
  bottom: 0;
  background-color: white;
  flex-shrink: 0;
  z-index: 3;
  pointer-events: all;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(0, 0, 0, 0.02);
  overflow-y: scroll;
  margin: 8px;
  border-radius: 8px;
  &.mwz-gone {
    height: 0%;
  }
  &.mwz-expanded {
    height: 100%;
    margin: 0;
    border-radius: 0;
  }

  // &.in-transition {
  //   position: absolute;
  // }
}

.mwz-small-screen {
  .mwz-bottom-view {
    position: unset;
    width: 100%;
    height: unset;
    z-index: 20;
    margin: 0;
    border-radius: 0;

    &.mwz-expanded {
      position: absolute;
      height: 100%;
    }
  }
}
