@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.mwz-ctrl-floors {
  background: transparent;

  border-radius: 0;
  box-shadow: none !important;

  padding: 5px;

  position: relative;
  right: -5px;

  .mwz-floor-button {
    background: $white;

    border: none;
    border-radius: $button-border-radius;

    box-shadow: $controls-box-shadow;
    box-sizing: border-box;

    height: 40px;
    min-width: 40px;

    overflow: hidden;

    padding-left: 5px;
    padding-right: 5px;

    position: relative;

    transition: background-color .5s ease;

    width: 100%;

    z-index: 0;

    &:hover {
      background-color: $light-grey;
      color: inherit;
    }

    &:focus {
      box-shadow: $controls-box-shadow;

      &:first-child {
        border-radius: $button-border-radius;
      }

      &:last-child {
        border-radius: $button-border-radius;
      }
    }

    &.mwz-selectedFloor,
    &.mwz-selectedFloor:hover {
      background-color: $mapwize-color;
      color: $white;
    }

    &::after {
      box-sizing: border-box;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: left .5s ease, top .5s ease, width .5s ease, height .5s ease;
      width: 100%;
      z-index: -1;
    }

    &.mwz-loading {
      &::before {
        animation: rotate 1s ease-in-out infinite;

        background-color: #399953;
        background-image: linear-gradient($mapwize-color, $mapwize-color), linear-gradient($white, $white), linear-gradient($white, $white), linear-gradient($white, $white);
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;

        box-sizing: border-box;
        content: '';
        height: 200%;
        left: -50%;
        position: absolute;
        top: -50%;
        width: 200%;
        z-index: -2;
      }

      &::after {
        background: $white;
        border-radius: 20px;
        height: calc(100% - 6px);
        left: 3px;
        top: 3px;
        width: calc(100% - 6px);
      }
    }
  }

  > .mwz-floor-button + .mwz-floor-button {
    margin-top: 4px;
  }
}
