
  

#searchResults {
    max-height: 50vh;
    width: 400px;

    overflow: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: -8px;
    margin-left: 10px;
    background-color:  white;
    pointer-events: auto;
    padding-top: 5px !important;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 0 0px rgba(0, 0, 0, 0.02);
    .mwz-place-icon, .mwz-google-icon {
        padding-right: 12.5px;
        
        img {
            width: 25px;
            height: 25px;
        }
    }

    .mwz-place-infos {
        .mwz-place-title {
            font-size: 1.2em;
        }
    }
}

&.mwz-small {
    #searchResults {
        margin-left: 0;
        width: 95% ;
        margin-left: 2.5%;
        // height: 100%;
    }
}

