// START OF FILE
.mapwizeui { // Nothing before this line
  @import 'custom';
  @import '~bootstrap/scss/bootstrap';

  @import './header';
  @import './footer';
  @import './controls';

  .tooltip {
    font-size: .76rem;

    .arrow {
      display: none;
    }
  }

  .bs-tooltip-top {
    margin-top: 85px;
    padding: 0;
  }
} // Nothing after this line
// END OF FILE
