// START OF FILE
.mapwizeui { // Nothing before this line
  @import 'custom';

  @import './header';
  @import './footer';
  @import './controls';

  .mwz-tooltip {
    font-size: .76rem;

    .mwz-arrow {
      display: none;
    }
  }

  .mwz-bs-tooltip-top {
    margin-top: 85px;
    padding: 0;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 2cm;
  }

  body * {
    visibility: hidden;
  }

  #mapwize * {
    visibility: visible;

    .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right, .mapboxgl-ctrl-bottom-left, .mwz-ctrl-location {
      display: none;
   }
  }
}// Nothing after this line
// END OF FILE
