div {
  border-collapse: initial;
  border-spacing: initial;
  caption-side: initial;
  color: initial;
  cursor: initial;
  direction: initial;
  empty-cells: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  list-style: initial;
  orphans: initial;
  quotes: initial;
  tab-size: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration-color: initial;
  text-indent: initial;
  text-justify: initial;
  text-shadow: initial;
  text-transform: initial;
  visibility: initial;
  white-space: initial;
  widows: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
}

div {
  border-collapse: initial;
  border-spacing: initial;
  caption-side: initial;
  color: initial;
  cursor: initial;
  direction: initial;
  empty-cells: initial;
  font-family: initial;
  font-size: initial;
  font-style: initial;
  font-variant: initial;
  font-weight: initial;
  font-size-adjust: initial;
  font-stretch: initial;
  font: initial;
  letter-spacing: initial;
  line-height: initial;
  list-style-image: initial;
  list-style-position: initial;
  list-style-type: initial;
  list-style: initial;
  orphans: initial;
  quotes: initial;
  tab-size: initial;
  text-align: initial;
  text-align-last: initial;
  text-decoration-color: initial;
  text-indent: initial;
  text-justify: initial;
  text-shadow: initial;
  text-transform: initial;
  visibility: initial;
  white-space: initial;
  widows: initial;
  word-break: initial;
  word-spacing: initial;
  word-wrap: initial;
}

@import './controller/uiController.scss';
@import './floorcontroller/floorcontroller.scss';
@import './floorcontroller/floorbutton/floorbutton.scss';
@import './bottomview/bottomview.scss';
@import './bottomview/direction/bottomviewDirection.scss';
@import './bottomview/placeDetails/placeDetails.scss';
@import './bottomview/placelistDetails/placelistDetails.scss';
@import './followbutton/followUserButton.scss';
@import './issuesReporting/reportIssuesView.scss';
@import './languageSelector/languageSelector.scss';
@import './navigationControls/navigationControls.scss';
@import './searchbars/searchContainer.scss';
@import './searchbars/search/searchBar.scss';
@import './searchbars/searchDirection/searchDirectionBar.scss';
@import './searchbars/searchDirection/directionModeButton/directionModeButton.scss';
@import './searchbars/searchDirection/directionModeSelector/directionModeSelector.scss';
@import './searchbars/searchResult/searchResultItem/searchResultItem.scss';
@import './searchbars/searchResult/searchResultList/searchResultList.scss';
@import './universeSelector/universeSelector.scss';
