#mwz-search-results {
  background-color: $white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .2), 0 0 0 rgba(0, 0, 0, .02);
  margin-left: 10px;
  margin-top: -8px;
  max-height: 50vh;
  overflow: auto;
  padding-top: 5px !important;
  pointer-events: auto;
  width: 400px;

  .mwz-search-result-icon {
    padding-right: 12.5px;

    img {
      height: 25px;
      width: 25px;
    }
  }

  .mwz-search-result-infos {
    .mwz-search-result-title {
      font-size: 1.2em;
    }
  }

  .mwz-item-selected {
    background: gainsboro;
  }

  .mwz-progress-bar {
    background-color: $mapwize-color;
  }
}

&.mwz-small {
  #mwz-search-results {
    margin-left: 2.5%;
    width: 95%;
    // height: 100%;
  }

  #mwz-search-direction + #mwz-search-results {
    margin-left: 0;
    width: 100%;
  }
}

